body {
  margin: 0;
  padding: 0;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #e0eafc, #ffffff);
  background: linear-gradient(to right, #e0eafc, #ffffff);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
header {
  min-height: 40px;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
ul {
  list-style: none;
}
